.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.title {
  color: white;
  font-size: 30px;
}

.itemWrapper {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.tumb {
  width: 100%;
  overflow: hidden;
  display: block;
  max-width: 200px;
  height: 300px;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
  transition: transform 0.4s;
}

.tumb:hover {
  transform: scale(1.02);
}
